<a href="https://colab.research.google.com/github/kyoraven/genderGames/blob/code/A3_PivotData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('generalStats_v1.csv')

In [13]:
pivot_table = df.pivot_table(index=['folder', 'game', 'series'], columns='group', values=['lines', 'words', 'sentences', 'syllables', 'FleschKincaidReadability', 'FleschReadability', 'DaleChallReadability', 'numCharacters'], aggfunc='sum')

In [14]:
pivot_table.columns = ['_'.join(col) for col in pivot_table.columns.values]

In [15]:
pivot_table.reset_index(inplace=True)

In [16]:
pivot_table.to_csv('pivot_result.csv', index=False)