<a href="https://colab.research.google.com/github/kyoraven/genderGames/blob/code/A3_t_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from scipy import stats

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('genderPCgames_pythontest_v1.csv')

In [ ]:
female_dialogue = data['wordsSUM_female']
male_dialogue = data['wordsSUM_male']

In [ ]:
t_statistic, p_value = stats.ttest_ind(female_dialogue, male_dialogue)

In [ ]:
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: nan
p-value: nan

In [ ]:
female_dialogue = data['wordsSUM_female']

In [ ]:
male_dialogue = data['wordsSUM_male']

In [ ]:
t_statistic, p_value = stats.ttest_ind(female_dialogue, male_dialogue)

In [ ]:
print("t-statistic:", t_statistic)

t-statistic: nan

In [ ]:
print("p-value:", p_value)

p-value: nan

In [ ]:
print("Data type of female_dialogue:", female_dialogue.dtype)
print("Data type of male_dialogue:", male_dialogue.dtype)

Data type of female_dialogue: float64
Data type of male_dialogue: float64

In [ ]:
print("Summary statistics for female_dialogue:")
print(female_dialogue.describe())

print("\nSummary statistics for male_dialogue:")
print(male_dialogue.describe())

Summary statistics for female_dialogue:
count        73.000000
mean      37302.452055
std       71643.898505
min           0.000000
25%        1939.000000
50%        8955.000000
75%       32526.000000
max      487319.000000
Name: wordsSUM_female, dtype: float64

Summary statistics for male_dialogue:
count        73.000000
mean      65900.123288
std      111817.365480
min           0.000000
25%        7454.000000
50%       21702.000000
75%       71838.000000
max      655611.000000
Name: wordsSUM_male, dtype: float64

In [ ]:
print("Missing values in female_dialogue:", female_dialogue.isnull().sum())
print("Missing values in male_dialogue:", male_dialogue.isnull().sum())

Missing values in female_dialogue: 1
Missing values in male_dialogue: 1

In [ ]:
data_cleaned = data.dropna(subset=['wordsSUM_female', 'wordsSUM_male'])

In [ ]:
female_dialogue = data_cleaned['wordsSUM_female']
male_dialogue = data_cleaned['wordsSUM_male']

In [ ]:
t_statistic, p_value = stats.ttest_ind(female_dialogue, male_dialogue)

In [ ]:
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: -1.8398923175144037
p-value: 0.06784305051434622

In [ ]:
female_characters = data['numCharactersSUM_Female']

In [ ]:
male_characters = data['numCharactersSUM_Male']

In [ ]:
print("Summary statistics for female_characters:")
print(female_characters.describe())

print("\nSummary statistics for male_characters:")
print(male_characters.describe())

Summary statistics for female_characters:
count     73.000000
mean      56.945205
std       81.510546
min        0.000000
25%       10.000000
50%       22.000000
75%       76.000000
max      412.000000
Name: numCharactersSUM_Female, dtype: float64

Summary statistics for male_characters:
count     73.000000
mean     133.109589
std      183.822496
min        0.000000
25%       22.000000
50%       49.000000
75%      152.000000
max      783.000000
Name: numCharactersSUM_Male, dtype: float64

In [ ]:
t_statistic, p_value = stats.ttest_ind(female_characters, male_characters)

In [ ]:
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: nan
p-value: nan

In [ ]:
print("Missing values in female_characters:", female_characters.isnull().sum())
print("Missing values in male_characters:", male_characters.isnull().sum())

Missing values in female_characters: 1
Missing values in male_characters: 1

In [ ]:
data_cleaned = data.dropna(subset=['numCharactersSUM_Female', 'numCharactersSUM_Male'])

In [ ]:
female_characters = data_cleaned['numCharactersSUM_Female']
male_characters = data_cleaned['numCharactersSUM_Male']

In [ ]:
t_statistic, p_value = stats.ttest_ind(female_characters, male_characters)

In [ ]:
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: -3.2362075031526922
p-value: 0.0015030545429220844